<%- include('includes/header')%>
<%- include('includes/nav')%>
    <div class="container">
      <div class="row">
        <div class="col-lg2"></div>

        <div class="col-lg8 my-5"></div>
        <h1 class="display-1 text-center">ERRO 404</h1>
        <p class="text-center lead">A pagina que voce procura não existe</p>
        <div class="col-lg2"></div>
      </div>
    </div>
<%- include('includes/footer')%>