<%- include('includes/header')%>
<%- include('includes/nav')%>

    <div class="container">
      <div class="row">
        <div class="col-lg2"></div>

        <div class="col-lg8 my-5">
        <h1 class="text-center">AGENDA</h1>
        <p class="text-center lead">Seus contatos estao a baixo</p>
        </div>

        <%- include('includes/messages') %>
        
        <div class="responsive-table">
          <table class="table my-3">
            <tr>
              <td>LUIZ</td>
              <td>OTAVIO</td>
              <td>7839283344</td>
              <td>otaviomiranda@gmail.com</td>
            </tr>
          </table>
        </div>
      </div>

      <div class="col-lg2"></div>
<%- include('includes/footer')%>