<nav class="navbar">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/home">WebSiteName</a>
      </div>
      <ul class="nav">
        
        <% if (!user) { %>
        <li class="active"><a href="/home">Home</a></li>
        <li><a href="#">Page 1</a></li>
        <li><a href="#">Page 2</a></li>
      </ul>
      <ul class="nav">
          <li><a href="/login/index"><span class="glyphicon "></span> Sign Up</a></li>
          <li><a href="/login/index"><span class="glyphicon "></span> Login</a></li>
          <%  } else { %>
            <li><a href="/login/logout"><span class="glyphicon "></span> Sair</a></li>
            <% } %>
      </ul>
    </div>
  </nav>