.nav{
  display: flex;
  justify-self: center;
  padding: 10px;
}
.nav li a {
  justify-self: center;
  color: rgb(7, 6, 6);
  text-decoration: none;
  padding: 10px 20px;
  margin: 0 10px;
  border-radius: 14px;
  transition: background-color 0.5s ease;
}
.nav li a:hover{
  background-color: aquamarine;
}